
.icons{
        display: flex;
        justify-content: center; /* Center horizontally */
        align-items: center; /* Center vertically */
        padding-left: 15px;
    }
.icons li{
    display: block;
    padding: 5px;
    margin-left: 5px;
}
.icons li i{
    font-size: 26px;
    opacity: 0.8;
}
.icons li i:hover{
    color: #06d6a0;
}


/*****************/

@media(max-width: 992px){
    section{
        grid-template-columns: 1fr;
        width: 100%;
    }
    .image{
        height: 100vh;
    }
    .content{
        height: 100vh;
    }
    .content h2{
        font-size: 20px;
        margin-top: 50px;
    }
    .content span{
        margin: 20px 0;
    }
    .content p{
        font-size: 14px;
    }
    .links li a{
        font-size: 14px;
    }
    .links{
        margin: 40px 0;
    }
    .links li{
        padding: 6px 10px;
    }
    .icons li i{
        font-size: 15px;
    }
}

@import url('https://fonts.googleapis.com/css?family=Montserrat:500&display=swap');
@import url('https://fonts.googleapis.com/css?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	scroll-behavior: smooth;
}
body {
	background: #FFF;
	font-family: 'Open Sans', sans-serif;
}

header {
	height: 90vh;
	/* background: #000; */
}
.black {
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}
nav {
	padding-top: 20px;
	padding-bottom: 20px;
	top: 0;
	position: fixed;
	display: flex;
	width: 100%;
	z-index: 1000;
	background: #fff;
	justify-content: space-around;
	transition: 1.5s;
	align-items: center;
}
nav ul {
	display: flex;
	align-items: center;
}
nav ul li {
	list-style: none;
	margin: 5px 10px;
}
nav ul li a {
	padding: 2px 10px;
	color: #2e2e2e;
	cursor: pointer;
	transition: .5s;
	text-decoration: none;
}
nav ul li a:hover {
	color: #fff;
	border-radius: 5px;
	background: #DF2771;
}
.active {
	color: #fff;
	border-radius: 5px;
	background: #DF2771;
}
.srch {
	padding: 2px 10px;
	display: flex;
	/* align-items: center; */
	justify-content: center;
	/* background: #0066ff; */
	border: 1px solid;
	border-radius: 20px;
}
.srch img {
	width: 25px;
	cursor: pointer;
}
.srch .search {
	/* padding: 2px 10px; */
	outline: none;
	border: none;
	background: transparent;
}

.get-started {
	margin-left: 50px;
	padding: 5px 20px;
	border: 2px solid #DF2771;
	border-radius: 20px;
	text-decoration: none;
	
	transition: .5s;
	background-color: #DF2771;
	color: #fff;
}
.get-started:hover {
	color: #2e2e2e;
	background: #fff;
}
.logo img{
	width: 120px;
	cursor: pointer;
	transition: all 1s;
}

a, button {
	float: left;
	font-family: "Montserrat", sans-serif;
	font-weight: 500;
	font-size: 15px;
	color: #2E3D49;
	display: block;
	text-decoration: none;
	text-align: center;
}
.head-container {
	margin-top: 245px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-around;
}
.quote {
	width: 600px;
	transform: translateY(-50px);
}
.quote h5 {
	margin-top: 20px;
	color: #0009;
	line-height: 20px;
}
.quote p {
	font-size: 50px;
	color: #2e2e2e;
}
.quote .play {
	margin-top: 20px;
	display: flex;
	/* justify-content: center; */
	align-items: center;
}
.quote .play img {
	width: 45px;
	cursor: pointer;
	filter: drop-shadow(0 0 10px #0002);
}
.quote .play span a{
	margin-left: 10px;
	font-size: 20px;
	font-weight: 900;
	color: rgba(0, 0, 0, 0.8);
	cursor: pointer;
}
.svg-image img{
	width: 500px;
	filter: drop-shadow(0 20px 10px rgba(0,0,0,0.2));
}

/* SIDE MENU */
.menu {
	cursor: pointer;
	width: 25px;
	display: none;
}
.side-menu {
	width: 100%;
	height: 100%;
	background: rgba(182, 33, 90, 0.993);
	position: absolute;
	top: 0;
	transition: .8s;
	z-index: 2000;
	transform: translateX(-100%);
}
.side-menu ul {
	margin-top: 35%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	/* background: #FA4B37; */
}
.side-menu ul li {
	list-style: none;
	/* background: #009900; */
	display: flex;
	justify-content: center;
	align-items: center;
	/* border-bottom: 1px solid #fff; */
	/* padding: 10px 0px; */
}
.side-menu ul li:hover a{
	background: #fff;
	color: #DF2771;
}
.side-menu ul li a{
	color: #FFF;
	width: 100%;
	font-size: 1em;
	/* background: #2E3D49; */
	text-decoration: none;
	padding: 15px 0px;
}
.close img{
	float: right;
	width: 35px;
	cursor: pointer;
	margin: 10px;
}
.user {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 10%;
}
.user img {
	width: 60px;
	border-radius: 50%;
	border: 2px solid #fff;
	filter: drop-shadow(0 10px 20px #0004);
	margin-right: 30px;
	cursor: pointer;
}
.user p {
	color: #fff;
	cursor: pointer;
}
.user img, .user p {
	opacity: 1;
}
/*Common things in all sections*/
#about_section, #portfolio_section, #team_section, #services_section, #contactus_section {
	font-family: 'Open Sans', sans-serif;
	color: #2E3D49;
	position: relative;
}
.diffSection {
	width: 100%;
	/*position: relative;*/
	justify-content: center;
	align-items: center;
}
.diffSection .content {
	margin: 10px;
	text-align: center;
	padding: 10px 100px;
	font-size: 1.1em;
}

/*PORTFOLIO*/
.extra {
	width: 100%;
}
.extra p {
	padding: 30px;
	padding-bottom: 150px;
	font-size: 50px;
	text-align: center;
	color: #fff;
	background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.7)),url("images/extra/b1.jpg");
	background-size: cover;
	background-attachment: fixed;
	font-family: cursive;
	z-index: -9;
}
.smbox {
	display: flex;
	flex-wrap: wrap;
	transform: translateY(-100px);
	justify-content: center;
}
.smbox span {
	margin: 1%;
	background: #fff;
	box-shadow: inset 0px 0px 25px rgba(0,0,0,0.2),
						0 0 40px rgba(0,0,0,0.3);
	border-radius: 10px;
	padding: 30px 50px;
	cursor: pointer;
}
.smbox span:hover {
	transform: scale(1.3);
	transition: .5s ease;
}
.smbox .data {
	font-size: 80px;
	color: #FA6146;	
}
.smbox .det {
	font-size: 20px;
	color: #272529;
	font-family: cursive;
}

/*Title*/
.title {
	 margin-top: 0px; 
	font-family: 'Open Sans', sans-serif;
	font-size: 30px;
	text-align: center;
	color: #2E3D49;
}

/*ABOUT*/
.about-content {
	width: 100%;
	position: relative;
	justify-content: center;
	flex-wrap: wrap;
	display: flex;
	align-items: center;
}
.about-content .side-text {
	width: 550px;
	padding: 50px 40px;
	background: #fff;
	box-shadow: 2px 0 100px rgba(0,0,0,0.3);
	border-radius: 5px;
	text-align: justify;
	line-height: 22px;
	opacity: 0;
	transform: translateX(-100px);
	transition: 1s ease-in-out;
}
.about-content .side-text-appear {
	opacity: 1;
	transform: translateX(0px);
}
.about-content .side-text h2 {
	padding: 10px;
}
.about-content .side-text p {
	padding: 10px;
}
.about-content .side-image img {
	width: 90%;
	border-radius: 5px;
}
.sideImage {
	transform: translateX(100px);
	opacity: 0;
	transition: .8s ease-in-out;
}
.sideImage-appear {
	opacity: 1;
	transform: translateX(0px);
}

/*POPULAR SUBJECTS*/
.cbox {
	position: relative;
	width: 100%;
	display: inline-flex;
	flex-wrap: wrap;
	justify-content: center;
}
.cbox .det {
	width: 250px;
	height: 80px;
	margin: 10px;
	background: #fff;
	cursor: pointer;
}
.cbox .det a{
	justify-content: space-around;
	width: 250px;
	padding: 28px;
	border-radius: 10px;
	border: 1px solid #FA4B37;
	font-size: 15px;
	color: #272529;
	font-family: cursive;
	text-decoration: none;
}
.cbox .det a:hover {
	background: linear-gradient(to right, #FA4B37, #DF2771);
	color: white;
}
.cbox .det a:hover img{
	filter: brightness(100);
}
.cbox img {
	width: 20px;
	margin-right: 20px;
}

/*TEAM SECTION*/
.totalcard {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	margin-bottom: 50px;
}
.totalcard .card {
	margin: 50px;
	width: 300px;
	border-radius: 10px;
	background: #fff;
}
.totalcard .card{
	box-shadow: inset 0 0 10px rgba(0,0,0,0.4),
					0 0 10px rgba(0,0,0,0.3);
}
.card:nth-child(1){
	border-top: 5px solid green;
}
.card:nth-child(2){
	border-top: 5px solid blue;
}
.card:nth-child(3){
	border-top: 5px solid blue;
}

.card:nth-child(1):hover {
	box-shadow: inset 0px 0px 10px rgba(0,255,0,0.5),
				1px 1px 30px rgba(0,255,0,0.5);
}
.card:nth-child(2):hover {
	box-shadow: inset 0px 0px 10px rgba(0,0,255,0.5),
				1px 1px 30px rgba(0,0,255,0.5);
}
.card:nth-child(3):hover {
	box-shadow: inset 0px 0px 10px rgba(0,0,255,0.5),
				1px 1px 30px rgba(0,0,255,0.5);
}
.totalcard .card img {
	width: 100px;
	height: 100px;
	margin-top: 5px;
	cursor: pointer;
	border-radius: 50px;
	transition-duration: .8s;
}
.totalcard .card img:hover {
	transform: scale(3.5);
	border-radius: 0;
	box-shadow: 0 0 20px rgba(0,0,0,0.5);
}
.detail p{
	font-size: 15px;
	line-height: 25px;
	font-variant: small-caps;
	text-align: center;
	margin: 25px;
	margin-bottom: 0px;
	margin-top: 0px;
}
.detail button {
	outline: none;
	border-radius: 10px;
	border-style: none;
	border: 1px solid black;
	padding: 9px 25px;
	cursor: pointer;
	transition-duration: .4s;
}
.detail a {
	bottom: 80px;
	text-decoration: none;
	margin-bottom: 30px;
	margin-top: 20px;
	margin-left: 90px;
	align-self: center;
}
.btn-simon:hover {
	background: rgba(0,255,0,0.7);
	color: #fff;

}
 
.btn-akhil:hover {
	background: rgba(0,0,255,0.5);
	color: #fff;
}
.card-title {
	font-size: 17px;
	color: #343A40;
	padding: 20px;
	font-weight: 700;
}

/*Service Section*/
/*Service Section*/
.service-swipe {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.7)),url("images/extra/b3.jpg");
	background-size: cover;
	background-attachment: fixed;
}
.service-swipe .s-card img {
	width: 100px;
}
.service-swipe a {
	padding: 0;
	margin: 40px 10px;
}
.service-swipe .s-card {
	display: flex;
	justify-content: space-around;
	padding: 10px;
	align-items: center;
	text-align: center;
	width: 350px;
	height: 200px;
	box-shadow: inset 0 0 20px rgba(255,255,255,0.05),
					0 0 50px rgba(0,0,0,0.8);
	border-radius: 5px;
	cursor: pointer;
	transition-duration: .5s;
}
.service-swipe .s-card p {
	color: #f2f2f2;
	font-size: 1.2em;
	font-family: 'Open Sans',sans-serif;
}
.service-swipe .s-card:hover {
	box-shadow: 0 0 50px rgba(255,255,255,0.8);
	transform: translateY(-10px);
}

/*Contact Us Section*/
.csec {
	background: linear-gradient(to right, #FA4B37, #DF2771);
	background-attachment: fixed; 
	position: absolute;
	width: 100%;
	height: 250px;
	top: 200px;
	content: '';
	transform-origin: top right;
	transform: skewY(-10deg);
	z-index: -1;
}
.back-contact {
	margin-top: 0px;
	transform: translateY(-50px);
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.cc {
	height: 400px;
	width: 400px;
	height: 500px;
	border-radius: 10px;
	justify-content: center;
	box-shadow: 1px 1px 20px rgba(0,0,0,0.4);
	background: #fff;
}
.cc form {
	margin: 5%;
	margin-top: 40px;
	width: 90%;
	height: 90%;
}
.cc form label {
	position: absolute;
	color: #2E3D49;
	font-size: 10px;
	font-weight: 800;
}
.cc form input {
	padding: 15px;
	margin-bottom: 10px;
	border-radius: 5px;
	box-shadow: inset 0 0 5px lightgray;
	border: 1px solid rgba(0,0,0,0.2);
	outline: none;
	color: #2E3D49;
	font-weight: 600;
}
.imp {
	color: red;
}
form textarea {
	width: 100%;
	height: 100px;
	box-shadow: inset 0 0 5px lightgray;
	border: 1px solid rgba(0,0,0,0.2);
	border-radius: 5px;
	outline: none;
	color: #2E3D49;
	font-weight: 600;
	padding: 15px;
}
#csubmit {
	margin-top: 20px; 
	background: linear-gradient(to right, #FA4B37, #DF2771);
	border-radius: 5px;
	border-style: none;
	outline: none;
	width: 100%;
	padding: 15px 25px;
	color: #fff;
	font-size: 12px;
	cursor: pointer;
}

/*REVIEW SECTION*/
#makeitfull {
	display: flex;
	justify-content: center;
	transform: translateY(35px);
}
#makeitfull img {
	width: 50px;
}
.review {
	background: #F8F8F8;
	width: 100%;
}
.rev-container {
	padding: 10px 10%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
.rev-container .rev-card {
	/*overflow: hidden;*/
	width: 550px;
	height: 240px;
	margin-bottom: 40px;
	background: #fff;
	display: flex;
	padding: 10px;
	box-shadow: 2px 2px 20px rgba(0,0,0,0.2);
}
.rev-card:hover {
	box-shadow: 1px 1px 5px rgba(0,0,0,0.2);
}
.identity {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding: 10px;
}
.identity img {
	width: 120px;
	height: 120px;
	transition-duration: .8s;
	border-radius: 50%;
}
.identity img:hover {
	transform: scale(2.2);
	border-radius: 0px;
	box-shadow: 0 0 20px rgba(0,0,0,0.3);
}
.identity p {
	width: 150px;
	font-weight: bold;
	color: #2E3D49;
	text-align: center;
}
.identity h6 {
	width: 150px;
	text-align: center;
}
.identity .rating img {
	width: 12px;
	height: 12px;
	margin-right: 5px;
}
.rev-cont {
	overflow: hidden;
}
.rev-cont #title {
	padding: 10px;
	color: #2E3D49;
	font-weight: bold;
}
.rev-cont #content {
	padding: 10px;
	font-size: .9em;
	color: #2E3D49;
	line-height: 22px;
	text-align: justify;
}


/*FEEDBACK*/
.title2 {
	position: relative;
	margin-top: 150px;
	margin-left: 100px;
}
.title2 span{
	font-weight: 700;
	font-family: 'Open Sans', sans-serif;
	font-size: 30px;
	color: #2E3D49;
}
.title2 .shortdesc2 {
	padding: 10px;
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	color: #2E3D49;
	margin-bottom: 10px;
}
.feedbox {
	margin-top: 50px;
	width: 100%;
	display: flex;
	background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.7)),url("images/extra/b4.jpg");
	background-size: cover;
	padding: 50px 80px;
	background-attachment: fixed;
}
.feed {
	width: 800px;
	height: 400px;
	position: relative;
	border-radius: 10px;
	justify-content: center;
	box-shadow: inset 0 0 90px rgba(0,0,0,0.6),
					0 0 80px rgba(0,0,0,0.2);
	background: rgba(0,0,0,0.4);
}
.feed form {
	width: 100%;
	height: 100%;
	padding: 20px;
}

.feed form label {
	position: absolute;
	color: #f2f2f2;
	font-size: 10px;
	font-weight: 800;
}
.feed form input, .feed textarea {
	padding: 15px;
	border-radius: 5px;
	box-shadow: inset 0 0 5px lightgray;
	border: 1px solid rgba(0,0,0,0.2);
	outline: none;
	color: #2E3D49;
	background: #fff9;
	font-weight: 600;
}
.feed form input {
	margin-bottom: 15px;
	width: 50%;
}
.feed form .fname {
	width: 25%;
}
.feed form textarea {
	width: 100%;
	height: 100px;
}
.feed #csubmit {
	margin-top: 25px; 
	background: linear-gradient(to right, #FA4B37, #DF2771);
	border-radius: 5px;
	border-style: none;
	outline: none;
	width: 100%;
	padding: 15px 25px;
	color: #fff;
	font-size: 12px;
	cursor: pointer;
}

/*SCROLLING TEXT*/
.marqu {
	text-align: center;
	justify-content: center;
	color: #fff;
	font-size: 20px;
	padding: 10px;
}

/*FOOTER*/
footer {
	color: #E5E8EF;
	background: #000D;
	padding: 50px 0; 
}
footer .footer-container {
	max-width: 1300px;
	margin: auto;
	padding: 0 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap-reverse;
}
footer .social-media img{
	width: 22px;
}
footer .logo {
	width: 180px;
	color: #fff;
}
footer .social-media a{
	margin-right: 10px;
	font-size: 22px;
	text-decoration: none;
}
footer .right-col h1{
	font-size: 26px;
}
footer .border{
	width: 100px;
	height: 4px;
	background: linear-gradient(to right, #FA4B37, #DF2771);
	margin: 2px;
}
footer .newsletter-form {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}
footer input::placeholder {
  color: white !important;
}
footer .txtb {
	flex: 1;
	padding: 18px 40px;
	font-size: 16px;
	background: #343A40;
	border: none;
	font-weight: 700;
	outline: none;
	border-radius: 5px;
	min-width: 260px;
	margin-top: 20px;
	color: white;
}
footer .btn {
	margin-top: 20px;
	padding: 18px 40px;
	font-size: 16px;
	color: #f1f1f1;
	background: linear-gradient(to right, #FA4B37, #DF2771);
	border: none;
	font-weight: 700;
	outline: none;
	border-radius: 5px;
	margin-left: 20px;
	cursor: pointer;
	transition: opacity .3s linear;	
}
footer .btn:hover {
	opacity: .7;
}

/*PROPERTIES FOR MAKING WEBSITE RESPONSIVE*/
@media screen and (max-width: 960px) {
	.footer-container {
		max-width: 600px;
	}
	.right-col {
		width: 100%;
		margin-bottom: 60px;
	}
	.left-col {
		width: 100%;
		text-align: center;
	}
	.social-media {
		display: flex;
		justify-content: center;
	}
	.logo {
		transition: 1s;
		margin-left: 30%;
	}
	nav ul, .srch, .get-started{
		display: none;
	}
	.menu {
		display: block;
	}
	nav {
		padding-bottom: 20px;
		border-bottom: 1px solid #0005;
		/* position: fixed; */
		/* top: 0; */
	}
	.quote p, .quote h5, .play {
		justify-content: center;
		text-align: center;
	}
	.quote p {
		font-size: 30px;
	}
	.service-container .right-side img {
		width: 90%;
	}
	.title {
		margin-top: 0px;
	}
	
}
@media screen and (max-width: 700px) {
	footer .btn{
		margin: 0;
		width: 100%;
		margin-top: 20px;
	}
	.svg-image img {
		width: 90%;
		margin: 20px;
		/* align-self: center; */
	}
}

@media screen and (max-width: 1000px) {	
	.feedbox form input, .feedbox form .fname{
		width: 100%;
	}
}

.cube-container {
    width: 200px;
    height: 200px;
    perspective: 800px;
    /* margin: 15px auto; */
	padding-right: 70px;
  }
  
  .cube {
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    animation: rotate 8s infinite linear;
    margin-top: 150px;
    margin-left: 180px;
  }
  
  .face {
    position: absolute;
    width: 200px;
    height: 200px;
    color: rgb(214, 21, 21);
    font-size: 18px;
    text-align: center;
    line-height: 200px;
    background: transparent;
    opacity: 0.9;
    border: 2px solid;
    border-image: linear-gradient(to right, #ff6b6b, #355c7d, #557d35, #cfcf16, #a51f1f) 1;
    box-shadow: 0 0 100px rgba(245, 8, 8, 0.8);
  }
  
  .front {
    transform: translateZ(100px);
  }
  
  .back {
    transform: rotateY(180deg) translateZ(100px);
  }
  
  .right {
    transform: rotateY(90deg) translateZ(100px);
  }
  
  .left {
    transform: rotateY(-90deg) translateZ(100px);
  }
  
  .top {
    transform: rotateX(90deg) translateZ(100px);
  }
  
  .bottom {
    transform: rotateX(-90deg) translateZ(100px);
  }
  
  .cube-container:hover .cube {
    animation-play-state: paused;
  }
  intro{
    margin-top: 250px;
    color: #000000;
    font-family: 'Inter', sans-serif;
    font-size: 2vw;
    font-weight: 700;
    line-height: 1.4em;
    letter-spacing: 0px;
    margin-left: 150px;
    display: inline-block;
}
#web{
    color:#FB543A;
}
.about{
    margin-top: 280px;
    color: #000000;
    font-family: 'Inter', sans-serif;
    font-size: 2vw;
    font-weight: 700;
    line-height: 1.4em;
    letter-spacing: 0px;
    margin-left: 150px;
}
.aboutcont{
    margin-top: 40px;
    color: #2f2d2d;
    font-family:'Inter', sans-serif;
    font-size: 21px;
    font-weight:lighter;
    line-height: 1.4em;
    letter-spacing: 0px;
    margin-left: 150px;
    text-align: justify;
    margin-right: 100px;
    padding-bottom: 40px;
}
/* .exp{
    background-color: #f2f2f5;
} */
.exp1{
    margin-top: 10px;
    color: #000000;
    font-family: 'Inter', sans-serif;
    font-size: 2vw;
    font-weight: 700;
    line-height: 1.4em;
    letter-spacing: 0px;
    margin-left: 150px;
    padding-top: 40px;
}

@font-face {
    font-family: 'Chivo';
    font-style: italic;
    font-weight: 300;
    src: url(https://fonts.gstatic.com/s/chivo/v18/va9Z4kzIxd1KFrBtW-13ZHhT-jDqdFxY1FrRPXk.ttf) format('truetype');
  }
  @font-face {
    font-family: 'Chivo';
    font-style: italic;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/chivo/v18/va9Z4kzIxd1KFrBtW-13ZHhT-jDqdFwG1FrRPXk.ttf) format('truetype');
  }
  @font-face {
    font-family: 'Chivo';
    font-style: italic;
    font-weight: 700;
    src: url(https://fonts.gstatic.com/s/chivo/v18/va9Z4kzIxd1KFrBtW-13ZHhT-jDqdFzh01rRPXk.ttf) format('truetype');
  }
  @font-face {
    font-family: 'Chivo';
    font-style: italic;
    font-weight: 900;
    src: url(https://fonts.gstatic.com/s/chivo/v18/va9Z4kzIxd1KFrBtW-13ZHhT-jDqdFyv01rRPXk.ttf) format('truetype');
  }
  @font-face {
    font-family: 'Chivo';
    font-style: normal;
    font-weight: 300;
    src: url(https://fonts.gstatic.com/s/chivo/v18/va9b4kzIxd1KFppkaRKvDRPJVDf_4h_ekGrW.ttf) format('truetype');
  }
  @font-face {
    font-family: 'Chivo';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/chivo/v18/va9b4kzIxd1KFppkaRKvDRPJVDf_vB_ekGrW.ttf) format('truetype');
  }
  @font-face {
    font-family: 'Chivo';
    font-style: normal;
    font-weight: 700;
    src: url(https://fonts.gstatic.com/s/chivo/v18/va9b4kzIxd1KFppkaRKvDRPJVDf_WxjekGrW.ttf) format('truetype');
  }
  @font-face {
    font-family: 'Chivo';
    font-style: normal;
    font-weight: 900;
    src: url(https://fonts.gstatic.com/s/chivo/v18/va9b4kzIxd1KFppkaRKvDRPJVDf_FRjekGrW.ttf) format('truetype');
  }
  @font-face {
    font-family: 'Saira';
    font-style: normal;
    font-weight: 100;
    font-stretch: normal;
    src: url(https://fonts.gstatic.com/s/saira/v20/memWYa2wxmKQyPMrZX79wwYZQMhsyuShhKMjjbU9uXuA71rDks8xkw.ttf) format('truetype');
  }
  @font-face {
    font-family: 'Saira';
    font-style: normal;
    font-weight: 200;
    font-stretch: normal;
    src: url(https://fonts.gstatic.com/s/saira/v20/memWYa2wxmKQyPMrZX79wwYZQMhsyuShhKMjjbU9uXuA79rCks8xkw.ttf) format('truetype');
  }
  @font-face {
    font-family: 'Saira';
    font-style: normal;
    font-weight: 300;
    font-stretch: normal;
    src: url(https://fonts.gstatic.com/s/saira/v20/memWYa2wxmKQyPMrZX79wwYZQMhsyuShhKMjjbU9uXuA7wTCks8xkw.ttf) format('truetype');
  }
  @font-face {
    font-family: 'Saira';
    font-style: normal;
    font-weight: 400;
    font-stretch: normal;
    src: url(https://fonts.gstatic.com/s/saira/v20/memWYa2wxmKQyPMrZX79wwYZQMhsyuShhKMjjbU9uXuA71rCks8xkw.ttf) format('truetype');
  }
  @font-face {
    font-family: 'Saira';
    font-style: normal;
    font-weight: 500;
    font-stretch: normal;
    src: url(https://fonts.gstatic.com/s/saira/v20/memWYa2wxmKQyPMrZX79wwYZQMhsyuShhKMjjbU9uXuA72jCks8xkw.ttf) format('truetype');
  }
  @font-face {
    font-family: 'Saira';
    font-style: normal;
    font-weight: 600;
    font-stretch: normal;
    src: url(https://fonts.gstatic.com/s/saira/v20/memWYa2wxmKQyPMrZX79wwYZQMhsyuShhKMjjbU9uXuA74TFks8xkw.ttf) format('truetype');
  }
  @font-face {
    font-family: 'Saira';
    font-style: normal;
    font-weight: 700;
    font-stretch: normal;
    src: url(https://fonts.gstatic.com/s/saira/v20/memWYa2wxmKQyPMrZX79wwYZQMhsyuShhKMjjbU9uXuA773Fks8xkw.ttf) format('truetype');
  }
  @font-face {
    font-family: 'Saira';
    font-style: normal;
    font-weight: 800;
    font-stretch: normal;
    src: url(https://fonts.gstatic.com/s/saira/v20/memWYa2wxmKQyPMrZX79wwYZQMhsyuShhKMjjbU9uXuA79rFks8xkw.ttf) format('truetype');
  }
  @font-face {
    font-family: 'Saira Extra Condensed';
    font-style: normal;
    font-weight: 100;
    src: url(https://fonts.gstatic.com/s/sairaextracondensed/v13/-nFsOHYr-vcC7h8MklGBkrvmUG9rbpkisrTri3j2_Co.ttf) format('truetype');
  }
  @font-face {
    font-family: 'Saira Extra Condensed';
    font-style: normal;
    font-weight: 200;
    src: url(https://fonts.gstatic.com/s/sairaextracondensed/v13/-nFvOHYr-vcC7h8MklGBkrvmUG9rbpkisrTrJ2nh2wpk.ttf) format('truetype');
  }
  @font-face {
    font-family: 'Saira Extra Condensed';
    font-style: normal;
    font-weight: 300;
    src: url(https://fonts.gstatic.com/s/sairaextracondensed/v13/-nFvOHYr-vcC7h8MklGBkrvmUG9rbpkisrTrQ2rh2wpk.ttf) format('truetype');
  }
  @font-face {
    font-family: 'Saira Extra Condensed';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/sairaextracondensed/v13/-nFiOHYr-vcC7h8MklGBkrvmUG9rbpkisrTj6Ejx.ttf) format('truetype');
  }
  @font-face {
    font-family: 'Saira Extra Condensed';
    font-style: normal;
    font-weight: 500;
    src: url(https://fonts.gstatic.com/s/sairaextracondensed/v13/-nFvOHYr-vcC7h8MklGBkrvmUG9rbpkisrTrG2vh2wpk.ttf) format('truetype');
  }
  @font-face {
    font-family: 'Saira Extra Condensed';
    font-style: normal;
    font-weight: 600;
    src: url(https://fonts.gstatic.com/s/sairaextracondensed/v13/-nFvOHYr-vcC7h8MklGBkrvmUG9rbpkisrTrN2zh2wpk.ttf) format('truetype');
  }
  @font-face {
    font-family: 'Saira Extra Condensed';
    font-style: normal;
    font-weight: 700;
    src: url(https://fonts.gstatic.com/s/sairaextracondensed/v13/-nFvOHYr-vcC7h8MklGBkrvmUG9rbpkisrTrU23h2wpk.ttf) format('truetype');
  }
  @font-face {
    font-family: 'Saira Extra Condensed';
    font-style: normal;
    font-weight: 800;
    src: url(https://fonts.gstatic.com/s/sairaextracondensed/v13/-nFvOHYr-vcC7h8MklGBkrvmUG9rbpkisrTrT27h2wpk.ttf) format('truetype');
  }

  body {
    /* background: #252827; */
    font-size: 16px;
  }
  p {
    font-weight: 300;
  }
  a {
    /* color: #6c6d6d; */
    /* text-decoration: none; */
    /* text-transform: uppercase; */
    /* display: block; */
    letter-spacing: 0.3em;
    font-size: 0.6em;
    font-weight: 400;
    /* background: #252727; */
    padding: 0.3rem 1rem;
    margin: 1.9rem 0 0 0;
    float: right;
  }
  /* a:hover {
    color: rgb(255, 0, 0);
    background: #004ffc;
    border-bottom: 0.35em solid black;
  } */
  strong {
    font-weight: 600;
  }
  h1 {
    font-family: 'Saira', sans-serif;
    letter-spacing: 1.5px;
    color: white;
    font-weight: 400;
    font-size: 2.4em;
  }
  #timeline-content {
    margin-top: 50px;
    text-align: center;
  }
  /* Timeline */
  .timeline {
    border-left: 4px solid #004ffc;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    background: rgba(0, 0, 0, 0.03);
    color:black;
    font-family: 'Chivo', sans-serif;
    margin: 50px auto;
    letter-spacing: 0.5px;
    position: relative;
    line-height: 1.4em;
    font-size: 1.03em;
    padding: 50px;
    list-style: none;
    text-align: left;
    font-weight: 100;
    max-width: 30%;
  }
  .timeline h1 {
    font-family: 'Saira', sans-serif;
    letter-spacing: 1.5px;
    font-weight: 100;
    font-size: 1.4em;
  }
  .timeline h2,
  .timeline h3 {
    font-family: 'Inter', sans-serif;
    letter-spacing: 1.5px;
    font-weight: 400;
    font-size: 1.4em;
  }
  .timeline .event {
    border-bottom: 1px dashed black;
    padding-bottom: 25px;
    margin-bottom: 50px;
    position: relative;
  }
  .timeline .event:last-of-type {
    padding-bottom: 0;
    margin-bottom: 0;
    border: none;
  }
  .timeline .event:before,
  .timeline .event:after {
    position: absolute;
    display: block;
    top: 0;
  }
  .timeline .event:before {
    left: -217.5px;
    color: black;
    content: attr(data-date);
    text-align: right;
    font-weight: 300;
    font-size: 0.9em;
    min-width: 120px;
    font-family: 'Inter', sans-serif;
  }
  .timeline .event:after {
    box-shadow: 0 0 0 4px #004ffc;
    left: -57.85px;
    background:black;
    border-radius: 50%;
    height: 11px;
    width: 11px;
    content: "";
    top: 5px;
  }
  .line{
    padding-bottom: 20px;
  }
  .cards {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-left: 250px;
    margin-top: 50px
;
  }
  
  .cards .red {
    background-color: #f43f5e;
  }
  
  .cards .blue {
    background-color: #3b82f6;
  }
  

  
  .cards .card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    height: 150px; /* Adjusted height for accommodating image and content */
    width: 800px; /* Adjusted width */
    border-radius: 10px;
    color: white;
    cursor: pointer;
    transition: 400ms transform, 400ms box-shadow, 400ms background-color;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    
  }
  
  .cards .card .content {
    display: flex;
    align-items: center;
  }
  
  .cards .card img {
    margin-right: 515px;
    height: 150px;
    width: 240px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  
  }
  
  .cards .card .text-content {
    flex: 1; 
    text-align: left;
    display: inline-block;
  }
  
  .cards .card p.tip {
    font-size: 1em;
    font-weight: 700;
    /* padding-right:  200px; */
    display:inline-block;
  }
  
  .cards .card p.second-text {
    font-size: 1em;
    padding-right: 400px;
  }
  
  .cards .card:hover {
    transform: scale(1.1);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    background-color: rgba(255, 255, 255, 0.1);
    color: #333;
  }
  
  .cards:hover > .card:not(:hover) {
    /* filter: blur(10px); */
    transform: scale(0.9);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  }
  .li{
    display: inline-block;
  }
  .educat{
    margin-top: 10px;
    color: #000000;
    font-family: 'Inter', sans-serif;
    font-size: 2vw;
    font-weight: 700;
    line-height: 1.4em;
    letter-spacing: 0px;
    margin-left: 20px;
    padding-top: 40px;
  }
  .e{
    margin-left: 150px;
  }

  .cube-container {
    width: 200px;
    height: 200px;
    perspective: 800px;
    margin: 50px auto;
  }
  
  .cube {
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    animation: rotate 8s infinite linear;
    margin-top: 150px;
    margin-left: 180px;
  }
  
  .face {
    position: absolute;
    width: 200px;
    height: 200px;
    color: rgb(214, 21, 21);
    font-size: 18px;
    text-align: center;
    line-height: 200px;
    background: transparent;
    opacity: 0.9;
    border: 2px solid;
    border-image: linear-gradient(to right, #ff6b6b, #355c7d, #557d35, #cfcf16, #a51f1f) 1;
    box-shadow: 0 0 100px rgba(245, 8, 8, 0.8);
  }
  
  .front {
    transform: translateZ(100px);
  }
  
  .back {
    transform: rotateY(180deg) translateZ(100px);
  }
  
  .right {
    transform: rotateY(90deg) translateZ(100px);
  }
  
  .left {
    transform: rotateY(-90deg) translateZ(100px);
  }
  
  .top {
    transform: rotateX(90deg) translateZ(100px);
  }
  
  .bottom {
    transform: rotateX(-90deg) translateZ(100px);
  }
  
  .cube-container:hover .cube {
    animation-play-state: paused;
  }
  
  @keyframes rotate {
    0% {
      transform: rotateX(0) rotateY(0) rotateZ(0);
    }
  
    100% {
      transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
    }
  }
  
  .hover-card {
    box-sizing: border-box;
    width: 190px;
    height: 300px;
    background: rgba(255, 255, 255, 0.583);
    border: 1px solid white;
    box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22);
    /* backdrop-filter: blur(6px); */
    border-radius: 17px;
    /* text-align: center; */
    cursor: pointer;
    transition: all 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    font-weight: bolder;
    color: black;
    /* margin-left: 180px; */
  }
  
  .hover-card:hover {
    border: 1px solid black;
    transform: scale(1.05);
  }
  
  .hover-card:active {
    transform: scale(0.95) rotateZ(1.7deg);
  }
  .s1{
    margin-left: 100px;
    margin-top: 30px;
  }
  .s3{
    margin-left: 350px;
    margin-bottom: 80px;
  }
  
  * {
    border: 0;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    background: rgb(250, 250, 250) url(http://lorempixel.com/1920/1080/nature/);
    font-family: Lato, Helvetica, Arial, sans-serif;
  }
  
  a {
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    text-decoration: none;
  }
  
  
  /*======================================================
                            Navbar
    ======================================================*/
  #navbar {
    background: white;
    color: rgb(13, 26, 38);
    position: fixed;
    top: 0;
    height: 60px;
    line-height: 60px;
    width: 100vw;
    z-index: 10;
  }
  
  .nav-wrapper {
    margin: auto;
    text-align: center;
    width: 70%;
  } @media(max-width: 768px) {
      .nav-wrapper {
        width: 90%;
      }
    } @media(max-width: 638px) {
        .nav-wrapper {
          width: 100%;
        }
      } 
  
  
  .logo {
    float: left;
    margin-left: 28px;
    font-size: 1.5em;
    height: 30px;
    letter-spacing: 1px;
    text-transform: uppercase;
  } @media(max-width: 768px) {
      .logo {
     /* margin-left: 5px; */
      }
  }
  
  #navbar ul {
    display: inline-block;
    float: right;
    list-style: none;
    /* margin-right: 14px; */
    margin-top: -2px;
    text-align: right;
    transition: transform 0.5s ease-out;
    -webkit-transition: transform 0.5s ease-out;
  } @media(max-width: 640px) {
      #navbar ul {
        display: none;
      }
    } @media(orientation: landscape) {
        #navbar ul {
          display: inline-block;
        }
      }
  
  #navbar li {
    display: inline-block;
  }
  
  #navbar li a {
    color: rgb(13, 26, 38);
    display: block;
    font-size: 0.7em;
    height: 50px;
    letter-spacing: 1px;
    margin: 0 20px;
    padding: 0 4px;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
  }
  
  #navbar li a:hover {
    /* border-bottom: 1px solid rgb(28, 121, 184); */
    color: rgb(28, 121, 184);
    transition: all 1s ease;
    -webkit-transition: all 1s ease;
  }
  
  /* Animated Bottom Line */
  #navbar li a:before, #navbar li a:after {
    content: '';
    position: absolute;
    width: 0%;
    height: 1px;
    bottom: -1px;
    background: rgb(13, 26, 38);
  }
  
  #navbar li a:before {
    left: 0;
    transition: 0.5s;
  }
  
  #navbar li a:after {
    background: rgb(13, 26, 38);
    right: 0;
    /* transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1); */
  }
  
  #navbar li a:hover:before {
    background: rgb(13, 26, 38);
    width: 100%;
    transition: width 0.5s cubic-bezier((0.22, 0.61, 0.36, 1));
  }
  
  #navbar li a:hover:after {
    background: transparent;
    width: 100%;
    /* transition: 0s; */
  }
  
  @media(max-width: 640px) {
    .menuIcon {
      cursor: pointer;
      display: block;
      position: fixed;
      right: 15px;
      top: 20px;
      height: 23px;
      width: 27px;
      z-index: 12;
    }
  
    /* Icon Bars */
    .icon-bars {
      background: rgb(13, 26, 38);
      position: absolute;
      left: 1px;
      top: 45%;
      height: 2px;
      width: 20px;
      -webkit-transition: 0.4s;
      transition: 0.4s;
    } 
  
    .icon-bars::before {
      background: rgb(13, 26, 38);
      content: '';
      position: absolute;
      left: 0;
      top: -8px;
      height: 2px;
      width: 20px;
  /*     -webkit-transition: top 0.2s ease 0.3s;
      transition: top 0.2s ease 0.3s; */
      -webkit-transition: 0.3s width 0.4s;
      transition: 0.3s width 0.4s;
    }
  
    .icon-bars::after {
      margin-top: 0px;
      background: rgb(13, 26, 38);
      content: '';
      position: absolute;
      left: 0;
      bottom: -8px;
      height: 2px;
      width: 20px;
  /*     -webkit-transition: top 0.2s ease 0.3s;
      transition: top 0.2s ease 0.3s; */
      -webkit-transition: 0.3s width 0.4s;
      transition: 0.3s width 0.4s;
    }
  
    /* Bars Shadows */
    .icon-bars.overlay {
      background: rgb(97, 114, 129);
      background: rgb(183, 199, 211);
      width: 20px;
      animation: middleBar 3s infinite 0.5s;
      -webkit-animation: middleBar 3s infinite 0.5s;
    } @keyframes middleBar {
        0% {width: 0px}
        50% {width: 20px}
        100% {width: 0px}
      } @-webkit-keyframes middleBar {
          0% {width: 0px}
          50% {width: 20px}
          100% {width: 0px}
        }
  
    .icon-bars.overlay::before {
      background: rgb(97, 114, 129);
      background: rgb(183, 199, 211);
      width: 10px;
      animation: topBar 3s infinite 0.2s;
      -webkit-animation: topBar 3s infinite 0s;
    } @keyframes topBar {
        0% {width: 0px}
        50% {width: 10px}
        100% {width: 0px}
      } @-webkit-keyframes topBar {
          0% {width: 0px}
          50% {width: 10px}
          100% {width: 0px}
        }
  
    .icon-bars.overlay::after {
      background: rgb(97, 114, 129);
      background: rgb(183, 199, 211);
      width: 15px;
      animation: bottomBar 3s infinite 1s;
      -webkit-animation: bottomBar 3s infinite 1s;
    } @keyframes bottomBar {
        0% {width: 0px}
        50% {width: 15px}
        100% {width: 0px}
      } @-webkit-keyframes bottomBar {
          0% {width: 0px}
          50% {width: 15px}
          100% {width: 0px}
        }
  
  
    /* Toggle Menu Icon */
    .menuIcon.toggle .icon-bars {
      top: 5px;
      transform: translate3d(0, 5px, 0) rotate(135deg);
      transition-delay: 0.1s;
      transition: transform 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
  
    .menuIcon.toggle .icon-bars::before {
      top: 0;
      transition-delay: 0.1s;
      opacity: 0;
    }
  
    .menuIcon.toggle .icon-bars::after {
      top: 10px;
      transform: translate3d(0, -10px, 0) rotate(-270deg);
      transition-delay: 0.1s;
      transition: transform 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
  
    .menuIcon.toggle .icon-bars.overlay {
      width: 20px;
      opacity: 0;
      -webkit-transition: all 0s ease 0s;
      transition: all 0s ease 0s;
    }
  }
  
  .overlay-menu {
    background:rgb(191, 186, 186);     
    color: rgb(13, 26, 38);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    right: 0;
    padding-right: 15px;
    transform: translateX(-100%);
    width: 100vw;
    height: 100vh;
    -webkit-transition: transform 0.2s ease-out;
    transition: transform 0.2s ease-out;
  }
  
  .overlay-menu ul, .overlay-menu li {
    display: block;
    position: relative;
  }
  
  .overlay-menu li a {
    display: block;
    font-size: 1.8em;
    letter-spacing: 4px;
  /*   opacity: 0; */
    padding: 10px 0;
    text-align: right;
    text-transform: uppercase;
    -webkit-transition: color 0.3s ease;
    transition: color 0.3s ease;
  /*   -webkit-transition: 0.2s opacity 0.2s ease-out;
    transition: 0.2s opacity 0.2s ease-out; */
  }
  
  .overlay-menu li a:hover,
  .overlay-menu li a:active {
    color: rgb(28, 121, 184);
    -webkit-transition: color 0.3s ease;
    transition: color 0.3s ease;
  }
  .n1{
    background-color: white;
  }
  .n2{
    background-color: white;
  }
  .n3{
    background-color: white;
  }
  .n4{
    background-color: white;
  }
  .nn1{
    background-color: rgb(191, 186, 186);
    color: #000000
    
  }
  .nn2{
    background-color: rgb(191, 186, 186);
    color: #000000
  }
  .nn3{
    background-color: rgb(191, 186, 186);
    color: #000000
  }
  .nn4{
    background-color: rgb(191, 186, 186);
    color: #000000
  }
  .name{
    color: black;
    font-size: 22px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight:bolder;
    /* margin-right: 200px; */
    align-content: start;
    padding-right: 100px;

}

.Btn {
  width: 45px;
  height: 45px;
  border: none;
  border-radius: 50%;
  background-color: rgb(27, 27, 27);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
  transition-duration: .3s;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.11);
  
}

.svgIcon {
  fill: rgb(214, 178, 255);
}

.icon2 {
  width: 18px;
  height: 5px;
  border-bottom: 2px solid rgb(182, 143, 255);
  border-left: 2px solid rgb(182, 143, 255);
  border-right: 2px solid rgb(182, 143, 255);
}

.tooltip {
  position: absolute;
  right: -105px;
  opacity: 0;
  background-color: rgb(12, 12, 12);
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-duration: .2s;
  pointer-events: none;
  letter-spacing: 0.5px;
}

.tooltip::before {
  position: absolute;
  content: "";
  width: 10px;
  height: 10px;
  background-color: rgb(12, 12, 12);
  background-size: 1000%;
  background-position: center;
  transform: rotate(45deg);
  left: -5%;
  transition-duration: .3s;
}

.Btn:hover .tooltip {
  opacity: 1;
  transition-duration: .3s;
}

.Btn:hover {
  background-color: rgb(150, 94, 255);
  transition-duration: .3s;
}

.Btn:hover .icon2 {
  border-bottom: 2px solid rgb(235, 235, 235);
  border-left: 2px solid rgb(235, 235, 235);
  border-right: 2px solid rgb(235, 235, 235);
}

.Btn:hover .svgIcon {
  fill: rgb(255, 255, 255);
  animation: slide-in-top 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes slide-in-top {
  0% {
    transform: translateY(-10px);
    opacity: 0;
  }

  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
.res{
  display: inline-block;
  padding-right:20px;
}
.waves {
  position: relative;
  width: 100%;
  height: 15vh;
  margin-bottom: -7px;
  /Fix for safari gap/
  min-height: 100px;
  max-height: 400px;
}

/* Animation */
.parallax>use {
  animation: move-forever 25s cubic-bezier(.55, .5, .45, .5) infinite;
}

.parallax>use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}

.parallax>use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}

.parallax>use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}

.parallax>use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}

@keyframes move-forever {
  0% {
      transform: translate3d(-90px, 0, 0);
  }

  100% {
      transform: translate3d(85px, 0, 0);
  }
}

@media (max-width: 768px) {
  .waves {
      height: 40px;
      min-height: 40px;
  }

  .content {
      height: 30vh;
  }
}

/Other/

.unique-color-dark {
  background-color: #7289da !important;
}

.bg-light {
  background-color: #7289DA !important;
}

.navbar-brand {
  color: white;
}

.custom-color {
  background-color: #7289DA !important
}

.copy{
  color: white;
}
.mail{
  padding-bottom: 20px;
  color: white;
}

.cgp{
 font-size: 1em;
    padding-right: 400px; 
}
  
.cards .card p.ti {
  font-size: 1em;
  font-weight: 700;
  /* padding-right:  200px; */
  display:inline-block;
}
.ui{
 height: 70px;
  margin-bottom:10px;
  margin-left: 150px;
  display: flex;

}
.ui-img{

  text-align: justify;
  padding-right: 18px;
  color: #000000;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.4em;
  letter-spacing: 0px;
 
}
.skl{
  list-style: none;
  
}
a {
	text-decoration: none;
}

i {
	letter-spacing: 10px;
	font-size: 28px;
	color: #191D29;
	transition: all .2s ease-in-out;
}

i:hover {
	transform: scale(1.3);
}

.fa-github:hover{
	color: #24292F;
}

.fa-whatsapp:hover {
	color: #128C7E;
}

.fa-linkedin:hover {
	color: #0a66c2;
}
.social{
  padding-right: 540px;
  padding-top: 20px;
}
.socia{
  padding-top: 20px; 
}
.socl{
  padding-top: 20px;
}